body {
	margin: 0;
}

.version {
	width: 100%;
	height: 100vh;
	background-color: #eee;

	display: flex;
	justify-content: center;
	align-items: center;
}
.version span {
	font-size: 60pt;
	color: #2017ff;
}